.header__container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #202831;
    width: 100%;
    margin-bottom: 2em;
    min-height: 100px;
}

.header__container__logo{
    display: block;
    margin-right: 0.5em;
    width: 70px;
}

.header__container__title{
    display: flex;
    flex-flow: column nowrap;
}

h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.7em;
    font-weight: lighter;
}

h2{
    font-size: 1em;
    color: #94b8e0;
    
   
}