.header__container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #202831;
    width: 100%;
    margin-bottom: 2em;
    min-height: 15%
}

h1{
    font-size: 1.5em;
    font-weight: bolder;
}

h2{
    font-size: 1em;
    color: #94b8e0;
    font-weight: lighter;
    
   
}