.selector{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}


select{
    background-color: #202831;
    border: none;
    color: white;
    height: 30px;
    width: 80%;
    border-radius: 12px;
    padding: 0 1em;
    height: 41px
}