.todoItem{
    display: flex;
    flex-flow: column nowrap;
    width: 98%;
    margin: 6px 4px;
    border-radius: 12px;
    background-color: #2d3946;
    border: 3px solid white;
    padding: 1em;
}

.checkbox__container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.todo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.todo__info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.todo__details{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.todoItem>h3{
    border: 2px dotted white;
    width: 60%;
    font-family: bold;
    font-size: 1.2em;  
}

.todoItem--done{
    text-decoration: line-through;
}

.todoitem__description{
    color: #94b8e0;
    font-weight: lighter;
    font-style: italic;
    margin: 0.5em 0 0.75em 0;
}

.button__container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    height: 100%;
    margin-right: 1em;
    padding-top: 1.5em
}

.todo__button{
    margin: 0 0 0 0.5em;
    padding: 0;
    width: 4em;
    height: 2em;
    background-color:#202831;
}

.todo__button__icon{
    color: white;
}

.datePicker{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    padding: 1em;
}